Source: ros-verystable-gtest-vendor
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-verystable-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-verystable-gtest-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-verystable-ros-workspace
Description: The package provides GoogleTest.
